In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import torch

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/PacktWorkshops/The-Deep-Learning-with-PyTorch-Workshop/master/Chapter02/Exercise2.02/energydata_complete.csv")
data.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [ ]:
data.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [ ]:
data = data.iloc[:,1:]

In [ ]:
data.columns

Index(['Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4',
       'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9',
       'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility',
       'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [ ]:
data.head()

   Appliances  lights     T1  ...  Tdewpoint        rv1        rv2
0          60      30  19.89  ...        5.3  13.275433  13.275433
1          60      30  19.89  ...        5.2  18.606195  18.606195
2          50      30  19.89  ...        5.1  28.642668  28.642668
3          50      40  19.89  ...        5.0  45.410389  45.410389
4          60      40  19.89  ...        4.9  10.084097  10.084097

[5 rows x 28 columns]

In [ ]:
data.dtypes

Appliances       int64
lights           int64
T1             float64
RH_1           float64
T2             float64
RH_2           float64
T3             float64
RH_3           float64
T4             float64
RH_4           float64
T5             float64
RH_5           float64
T6             float64
RH_6           float64
T7             float64
RH_7           float64
T8             float64
RH_8           float64
T9             float64
RH_9           float64
T_out          float64
Press_mm_hg    float64
RH_out         float64
Windspeed      float64
Visibility     float64
Tdewpoint      float64
rv1            float64
rv2            float64
dtype: object

In [ ]:
data.isnull().sum()

Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [ ]:
outliers = {}
for i in range(data.shape[1]):
    min_t = data[data.columns[i]].mean() - (3 * 
            data[data.columns[i]].std())
    max_t = data[data.columns[i]].mean() + (3 * 
            data[data.columns[i]].std())
    count = 0
    for j in data[data.columns[i]]:
        if j < min_t or j > max_t:
            count += 1
    percentage = count / data.shape[0]
    outliers[data.columns[i]] = "%.3f" % percentage
outliers

{'Appliances': '0.027',
 'Press_mm_hg': '0.005',
 'RH_1': '0.006',
 'RH_2': '0.007',
 'RH_3': '0.001',
 'RH_4': '0.000',
 'RH_5': '0.029',
 'RH_6': '0.000',
 'RH_7': '0.001',
 'RH_8': '0.000',
 'RH_9': '0.000',
 'RH_out': '0.008',
 'T1': '0.001',
 'T2': '0.010',
 'T3': '0.003',
 'T4': '0.000',
 'T5': '0.001',
 'T6': '0.005',
 'T7': '0.000',
 'T8': '0.000',
 'T9': '0.000',
 'T_out': '0.005',
 'Tdewpoint': '0.000',
 'Visibility': '0.002',
 'Windspeed': '0.005',
 'lights': '0.033',
 'rv1': '0.000',
 'rv2': '0.000'}

In [ ]:
X = data.iloc[:, 1:]
Y = data.iloc[:, 0]

In [ ]:
X = (X - X.min()) / (X.max() - X.min())
X.head()

     lights       T1      RH_1  ...  Tdewpoint       rv1       rv2
0  0.428571  0.32735  0.566187  ...   0.538462  0.265449  0.265449
1  0.428571  0.32735  0.541326  ...   0.533937  0.372083  0.372083
2  0.428571  0.32735  0.530502  ...   0.529412  0.572848  0.572848
3  0.571429  0.32735  0.524080  ...   0.524887  0.908261  0.908261
4  0.571429  0.32735  0.531419  ...   0.520362  0.201611  0.201611

[5 rows x 27 columns]

In [ ]:
X.shape

(19735, 27)

In [ ]:
train_end = int(len(X) * 0.6)
dev_end = int(len(X) * 0.8)

In [ ]:
X_shuffle = X.sample(frac=1, random_state=0)
Y_shuffle = Y.sample(frac=1, random_state=0)

In [ ]:
x_train = X_shuffle.iloc[:train_end,:]
y_train = Y_shuffle.iloc[:train_end]
x_dev = X_shuffle.iloc[train_end:dev_end,:]
y_dev = Y_shuffle.iloc[train_end:dev_end]
x_test = X_shuffle.iloc[dev_end:,:]
y_test = Y_shuffle.iloc[dev_end:]

In [ ]:
Y_shuffle.shape

(19735,)

In [ ]:
print(x_train.shape, y_train.shape)
print(x_dev.shape, y_dev.shape)
print(x_test.shape, y_test.shape)

(11841, 27) (11841,)
(3947, 27) (3947,)
(3947, 27) (3947,)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_new, x_test_2, y_new, y_test_2 = train_test_split(X_shuffle, Y_shuffle, 
                                                    test_size=0.2, 
                                                    random_state=0)
dev_per = x_test_2.shape[0]/x_new.shape[0]
x_train_2, x_dev_2, y_train_2, y_dev_2 = train_test_split(x_new, y_new, 
                                                          test_size=dev_per, 
                                                          random_state=0)

In [ ]:
print(x_train_2.shape, y_train_2.shape)
print(x_dev_2.shape, y_dev_2.shape)
print(x_test_2.shape, y_test_2.shape)

(11841, 27) (11841,)
(3947, 27) (3947,)
(3947, 27) (3947,)

In [ ]:
import torch.nn as nn

In [ ]:
x_train = torch.tensor(x_train.values).float()
y_train = torch.tensor(y_train.values).float()
x_dev = torch.tensor(x_dev.values).float()
y_dev = torch.tensor(y_dev.values).float()
x_test = torch.tensor(x_test.values).float()
y_test = torch.tensor(y_test.values).float()

In [ ]:
model = nn.Sequential(nn.Linear(x_train.shape[1],100),
                      nn.ReLU(),
                      nn.Linear(100,50),
                      nn.ReLU(),
                      nn.Linear(50,25),
                      nn.ReLU(),
                      nn.Linear(25,1)
                      )

In [ ]:
loss_function = torch.nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(), lr = 0.001)

In [ ]:
for i in range(1000):
  y_pred = model(x_train).squeeze()
  loss = loss_function(y_pred,y_train)
  optimizer.zero_grad()
  loss.backward()
  optimizer.step()
  if i%100 ==0:
    print(i,loss.item())

0 20364.203125
100 10963.4482421875
200 10717.1796875
300 10477.9482421875
400 10118.630859375
500 9736.814453125
600 9486.744140625
700 9330.8740234375
800 9199.9140625
900 9073.046875

In [ ]:
pred = model(x_test[0])

In [ ]:
print(pred.item())

67.72138214111328

In [ ]:
print(y_test[0].item())

60.0